body {
  margin: 0;
  font-family: "Segoe UI", Arial;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

/* DASHBOARD */
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.balance {
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
}

.income {
  background: linear-gradient(135deg, #22c55e, #16a34a);
}

.expense {
  background: linear-gradient(135deg, #ef4444, #dc2626);
}

/* FORM */
.form {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.form input,
.form select {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.form button {
  padding: 12px;
  background: #6366f1;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.form button:hover {
  background: #4f46e5;
}

/* LIST */
.list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background: #1e293b;
}

.item.income {
  border-left: 5px solid #22c55e;
}

.item.expense {
  border-left: 5px solid #ef4444;
}

.item button {
  background: transparent;
  border: 1px solid red;
  color: red;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}